@model IEnumerable<Accounting.Models.ViewModels.AccountingViewModel>

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <tr>
                <th>#</th>
                <th>類別</th>
                <th>日期</th>
                <th>金額</th>
            </tr>
            @{ 
                var i = 0;
            }
            @foreach (var item in Model)
            {
                <tr>
                    <td>@(++i)</td>
                    <td>@item.Category</td>
                    <td>@(item.AccountingDate.ToString("yyyy-MM-dd"))</td>
                    <td>@item.Amount.ToString("N0")</td>
                </tr>
            }

        </table>
    </div>
</div>
